.App {
  width: 320px;
  height: 240px;
  position: relative;
  text-align: center;
  padding-top: 1rem;
  background: #fff;
  margin: 0 auto; }
  .App .footer {
    position: absolute;
    padding: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between; }
