.App {
  width: 320px;
  height: 240px;
  position: relative;
  text-align: center;
  background: #fff;
  margin: 0 auto;
  .content-panel {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: calc(100% - 40px);
    .row {
      display: flex;
      align-items: center;
      width: 100%;
      margin-bottom: 10px;
      .link-wrapper {
        width: 120px;
        padding: 5px;
      }
      .progress-wrapper {
        width: 200px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        .progress:not(:last-child) {
          margin-bottom: 0.5rem;
        }
      }
    }
  }
  .activity {
    .tile.is-parent {
      padding: 0.25rem;
    }
    .notification {
      padding: 0;
      font-size: 0.75rem;
    }
    .notification:not(:last-child) {
      margin: 0;
    }
    .tile.is-ancestor {
      margin-top: -0.25rem;
      margin-left: -0.25rem;
      margin-right: -0.25rem;
    }
    .tile.is-ancestor:not(:last-child) {
      margin-bottom: -0.25rem;
    }
    .title-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .admin {
    padding: 0.75rem;
  }
  .footer {
    position: absolute;
    bottom: 0;
    padding: 3px 0 0 0;
    width: 100%;
    height: 40px;
    border-top: 1px solid #ccc;
    box-sizing: border-box;
    .flex-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
    
    .logo-wrapper {
      
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 6px;
      .logo {
        height: 16px;
      }
    }
  }

}

